<div class="met-card">
  <div class="met-card__header">
    <fa-icon icon="copy"></fa-icon>
    Statistiques de cache
  </div>
  <div class="met-card__body">
    <div class="met-table-wrap" *ngIf="!updating && cacheMetrics">
      <table class="met-table" id="cacheMetrics" aria-describedby="cacheMetrics">
        <thead>
          <tr>
            <th scope="col">Nom du cache</th>
            <th scope="col" class="met-table__num">Données existantes</th>
            <th scope="col" class="met-table__num">Données non existantes</th>
            <th scope="col" class="met-table__num">Lectures</th>
            <th scope="col" class="met-table__num">Écritures</th>
            <th scope="col" class="met-table__num">Suppressions</th>
            <th scope="col" class="met-table__num">Évictions</th>
            <th scope="col" class="met-table__num">% données existantes</th>
            <th scope="col" class="met-table__num">% données non existantes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of cacheMetrics | keyvalue">
            <td>{{ entry.key }}</td>
            <td class="met-table__num">{{ entry.value['cache.gets.hit'] }}</td>
            <td class="met-table__num">{{ entry.value['cache.gets.miss'] }}</td>
            <td class="met-table__num">{{ entry.value['cache.gets.hit'] + entry.value['cache.gets.miss'] }}</td>
            <td class="met-table__num">{{ entry.value['cache.puts'] }}</td>
            <td class="met-table__num">{{ entry.value['cache.removals'] }}</td>
            <td class="met-table__num">{{ entry.value['cache.evictions'] }}</td>
            <td class="met-table__num">
              {{
                filterNaN((100 * entry.value['cache.gets.hit']) / (entry.value['cache.gets.hit'] + entry.value['cache.gets.miss']))
                  | number: '1.0-4'
              }}
            </td>
            <td class="met-table__num">
              {{
                filterNaN((100 * entry.value['cache.gets.miss']) / (entry.value['cache.gets.hit'] + entry.value['cache.gets.miss']))
                  | number: '1.0-4'
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
