<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderLine">
      <h2 data-cy="orderLineDetailsHeading">
        <span jhiTranslate="tuniSalesGatewayApp.businessServiceOrderLine.detail.title">Order Line</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orderLine.id }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceOrderLine.quantity">Quantity</span></dt>
        <dd>
          <span>{{ orderLine.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceOrderLine.unitPrice">Unit Price</span></dt>
        <dd>
          <span>{{ orderLine.unitPrice }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceOrderLine.discountPct">Discount Pct</span></dt>
        <dd>
          <span>{{ orderLine.discountPct }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceOrderLine.lineTotal">Line Total</span></dt>
        <dd>
          <span>{{ orderLine.lineTotal }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceOrderLine.createdAt">Created At</span></dt>
        <dd>
          <span>{{ orderLine.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceOrderLine.product">Product</span></dt>
        <dd>
          <div *ngIf="orderLine.product">
            <a [routerLink]="['/product', orderLine.product.id, 'view']">{{ orderLine.product.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceOrderLine.order">Order</span></dt>
        <dd>
          <div *ngIf="orderLine.order">
            <a [routerLink]="['/order', orderLine.order.id, 'view']">{{ orderLine.order.orderNumber }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/order-line', orderLine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
