<div>
  <h2 id="page-heading" data-cy="DeliveryHeading">
    <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.home.title">Deliveries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delivery"
        [routerLink]="['/delivery/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.home.createLabel"> Créer un nouveau Delivery </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deliveries?.length === 0">
    <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.home.notFound">Aucun Delivery trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="deliveries && deliveries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.tenantId">Tenant Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deliveryNumber">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.deliveryNumber">Delivery Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="trackingNumber">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.trackingNumber">Tracking Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shippedAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.shippedAt">Shipped At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deliveredAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.deliveredAt">Delivered At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="confirmedAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.confirmedAt">Confirmed At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="order.orderNumber">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.businessServiceDelivery.order">Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let delivery of deliveries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/delivery', delivery.id, 'view']">{{ delivery.id }}</a>
          </td>
          <td>{{ delivery.tenantId }}</td>
          <td>{{ delivery.deliveryNumber }}</td>
          <td jhiTranslate="{{ 'tuniSalesGatewayApp.DeliveryStatus.' + delivery.status }}">{{ delivery.status }}</td>
          <td>{{ delivery.trackingNumber }}</td>
          <td>{{ delivery.shippedAt | formatMediumDatetime }}</td>
          <td>{{ delivery.deliveredAt | formatMediumDatetime }}</td>
          <td>{{ delivery.confirmedAt | formatMediumDatetime }}</td>
          <td>{{ delivery.notes }}</td>
          <td>{{ delivery.createdAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="delivery.order">
              <a [routerLink]="['/order', delivery.order.id, 'view']">{{ delivery.order.orderNumber }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/delivery', delivery.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/delivery', delivery.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(delivery)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="deliveries && deliveries.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
