<ng-container *ngIf="!updating && systemMetrics">

  <div class="met-sys-row">
    <span class="met-sys-label">Uptime</span>
    <span class="met-sys-value">{{ convertMillisecondsToDuration(systemMetrics['process.uptime']) }}</span>
  </div>

  <div class="met-sys-row">
    <span class="met-sys-label">Demarrage</span>
    <span class="met-sys-value">{{ systemMetrics['process.start.time'] | date: 'dd/MM/yy HH:mm' }}</span>
  </div>

  <div class="met-sys-row">
    <span class="met-sys-label">CPU Processus</span>
    <span class="met-sys-value">{{ 100 * systemMetrics['process.cpu.usage'] | number: '1.0-2' }} %</span>
  </div>
  <div class="met-bar">
    <div class="met-bar__fill"
      [ngClass]="(100 * systemMetrics['process.cpu.usage']) > 80 ? 'met-bar__fill--red' : 'met-bar__fill--green'"
      [style.width.%]="100 * systemMetrics['process.cpu.usage']">
      {{ 100 * systemMetrics['process.cpu.usage'] | number: '1.0-1' }}%
    </div>
  </div>

  <div class="met-sys-row">
    <span class="met-sys-label">CPU Systeme</span>
    <span class="met-sys-value">{{ 100 * systemMetrics['system.cpu.usage'] | number: '1.0-2' }} %</span>
  </div>
  <div class="met-bar">
    <div class="met-bar__fill"
      [ngClass]="(100 * systemMetrics['system.cpu.usage']) > 80 ? 'met-bar__fill--red' : 'met-bar__fill--blue'"
      [style.width.%]="100 * systemMetrics['system.cpu.usage']">
      {{ 100 * systemMetrics['system.cpu.usage'] | number: '1.0-1' }}%
    </div>
  </div>

  <div class="met-sys-row">
    <span class="met-sys-label">Nombre de CPUs</span>
    <span class="met-sys-value">{{ systemMetrics['system.cpu.count'] }}</span>
  </div>

  <div class="met-sys-row">
    <span class="met-sys-label">Load avg 1m</span>
    <span class="met-sys-value">{{ systemMetrics['system.load.average.1m'] | number: '1.0-2' }}</span>
  </div>

  <div class="met-sys-row">
    <span class="met-sys-label">Fichiers max</span>
    <span class="met-sys-value">{{ systemMetrics['process.files.max'] | number: '1.0-0' }}</span>
  </div>

  <div class="met-sys-row">
    <span class="met-sys-label">Fichiers ouverts</span>
    <span class="met-sys-value">{{ systemMetrics['process.files.open'] | number: '1.0-0' }}</span>
  </div>

</ng-container>
