<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-stock-item-heading"
        data-cy="StockItemCreateUpdateHeading"
        jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.home.createOrEditLabel"
      >
        Créer ou éditer un Stock Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.tenantId" for="field_tenantId"
            >Tenant Id</label
          >
          <input type="number" class="form-control" name="tenantId" id="field_tenantId" data-cy="tenantId" formControlName="tenantId" />
          <div *ngIf="editForm.get('tenantId')!.invalid && (editForm.get('tenantId')!.dirty || editForm.get('tenantId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tenantId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('tenantId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.productId" for="field_productId"
            >Product Id</label
          >
          <input type="number" class="form-control" name="productId" id="field_productId" data-cy="productId" formControlName="productId" />
          <div *ngIf="editForm.get('productId')!.invalid && (editForm.get('productId')!.dirty || editForm.get('productId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('productId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.productName" for="field_productName"
            >Product Name</label
          >
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            formControlName="productName"
          />
          <div *ngIf="editForm.get('productName')!.invalid && (editForm.get('productName')!.dirty || editForm.get('productName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productName')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              Ce champ doit faire moins de 255 caractères.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.imei" for="field_imei">Imei</label>
          <input type="text" class="form-control" name="imei" id="field_imei" data-cy="imei" formControlName="imei" />
          <div *ngIf="editForm.get('imei')!.invalid && (editForm.get('imei')!.dirty || editForm.get('imei')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('imei')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('imei')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 15 }"
            >
              Ce champ doit faire au minimum 15 caractères.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('imei')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              Ce champ doit faire moins de 15 caractères.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'tuniSalesGatewayApp.StockItemStatus.null' | translate }}</option>
            <option *ngFor="let stockItemStatus of stockItemStatusValues" [value]="stockItemStatus">
              {{ 'tuniSalesGatewayApp.StockItemStatus.' + stockItemStatus | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.isDeleted" for="field_isDeleted"
            >Is Deleted</label
          >
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
          <div *ngIf="editForm.get('isDeleted')!.invalid && (editForm.get('isDeleted')!.dirty || editForm.get('isDeleted')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isDeleted')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.acquiredAt" for="field_acquiredAt"
            >Acquired At</label
          >
          <div class="d-flex">
            <input
              id="field_acquiredAt"
              data-cy="acquiredAt"
              type="datetime-local"
              class="form-control"
              name="acquiredAt"
              formControlName="acquiredAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('acquiredAt')!.invalid && (editForm.get('acquiredAt')!.dirty || editForm.get('acquiredAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('acquiredAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('acquiredAt')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Ce champ doit être une date et une heure.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.updatedAt" for="field_updatedAt"
            >Updated At</label
          >
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockItem.warehouse" for="field_warehouse"
            >Warehouse</label
          >
          <select
            class="form-control"
            id="field_warehouse"
            data-cy="warehouse"
            name="warehouse"
            formControlName="warehouse"
            [compareWith]="compareWarehouse"
          >
            <option *ngIf="editForm.get(['warehouse'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="warehouseOption" *ngFor="let warehouseOption of warehousesSharedCollection">
              {{ warehouseOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['warehouse'])!.invalid && (editForm.get(['warehouse'])!.dirty || editForm.get(['warehouse'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['warehouse'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
