<div class="met-card">
  <div class="met-card__header">
    <fa-icon icon="exchange-alt"></fa-icon>
    Requêtes HTTP (temps en millisecondes)
  </div>
  <div class="met-card__body">
    <div class="met-table-wrap" *ngIf="!updating && requestMetrics">
      <table class="met-table" id="requestMetrics" aria-describedby="requestMetrics">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Total</th>
            <th scope="col" class="met-table__num">Médian</th>
            <th scope="col" class="met-table__num">Max</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of requestMetrics['percode'] | keyvalue">
            <td>{{ entry.key }}</td>
            <td>
              <div class="met-bar met-bar--inline">
                <div class="met-bar__fill" [style.width.%]="(100 * entry.value.count) / requestMetrics['all'].count">
                  <span class="met-bar__pct">{{ entry.value.count }}</span>
                </div>
              </div>
            </td>
            <td class="met-table__num">{{ filterNaN(entry.value.mean) | number: '1.0-2' }}</td>
            <td class="met-table__num">{{ entry.value.max | number: '1.0-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
