<div>
  <h2 id="page-heading" data-cy="AuditLogHeading">
    <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.home.title">AuditLogs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-audit-log"
        [routerLink]="['/audit-log/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.home.createLabel"> Créer un nouveau Audit Log </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="auditLogs?.length === 0">
    <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.home.notFound">Aucun Audit Log trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="auditLogs && auditLogs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.tenantId">Tenant Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="entityType">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.entityType">Entity Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="entityId">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.entityId">Entity Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="action">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.action">Action</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="beforeJson">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.beforeJson">Before Json</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="afterJson">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.afterJson">After Json</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipAddress">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.ipAddress">Ip Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userAgent">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.userAgent">User Agent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="performedByLogin">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.performedByLogin">Performed By Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceAuditLog.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auditLog of auditLogs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/audit-log', auditLog.id, 'view']">{{ auditLog.id }}</a>
          </td>
          <td>{{ auditLog.tenantId }}</td>
          <td>{{ auditLog.entityType }}</td>
          <td>{{ auditLog.entityId }}</td>
          <td jhiTranslate="{{ 'tuniSalesGatewayApp.AuditAction.' + auditLog.action }}">{{ auditLog.action }}</td>
          <td>{{ auditLog.beforeJson }}</td>
          <td>{{ auditLog.afterJson }}</td>
          <td>{{ auditLog.ipAddress }}</td>
          <td>{{ auditLog.userAgent }}</td>
          <td>{{ auditLog.performedByLogin }}</td>
          <td>{{ auditLog.createdAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/audit-log', auditLog.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/audit-log', auditLog.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(auditLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="auditLogs && auditLogs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
