<div>
  <h2 id="page-heading" data-cy="StockAuditHeading">
    <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.home.title">StockAudits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stock-audit"
        [routerLink]="['/stock-audit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.home.createLabel"> Créer un nouveau Stock Audit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="stockAudits?.length === 0">
    <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.home.notFound">Aucun Stock Audit trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="stockAudits && stockAudits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.tenantId">Tenant Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="theoreticalCount">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.theoreticalCount">Theoretical Count</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="physicalCount">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.physicalCount">Physical Count</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="discrepancyCount">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.discrepancyCount">Discrepancy Count</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="auditorLogin">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.auditorLogin">Auditor Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startedAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.startedAt">Started At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="closedAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.closedAt">Closed At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="warehouse.name">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockAudit.warehouse">Warehouse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockAudit of stockAudits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/stock-audit', stockAudit.id, 'view']">{{ stockAudit.id }}</a>
          </td>
          <td>{{ stockAudit.tenantId }}</td>
          <td jhiTranslate="{{ 'tuniSalesGatewayApp.AuditStatus.' + stockAudit.status }}">{{ stockAudit.status }}</td>
          <td>{{ stockAudit.theoreticalCount }}</td>
          <td>{{ stockAudit.physicalCount }}</td>
          <td>{{ stockAudit.discrepancyCount }}</td>
          <td>{{ stockAudit.notes }}</td>
          <td>{{ stockAudit.auditorLogin }}</td>
          <td>{{ stockAudit.startedAt | formatMediumDatetime }}</td>
          <td>{{ stockAudit.closedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="stockAudit.warehouse">
              <a [routerLink]="['/warehouse', stockAudit.warehouse.id, 'view']">{{ stockAudit.warehouse.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/stock-audit', stockAudit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/stock-audit', stockAudit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(stockAudit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="stockAudits && stockAudits.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
