<div>
  <h2 id="page-heading" data-cy="DocumentHeading">
    <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.home.title">Documents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document"
        [routerLink]="['/document/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.home.createLabel"> Créer un nouveau Document </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="documents?.length === 0">
    <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.home.notFound">Aucun Document trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="documents && documents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.tenantId">Tenant Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="entityType">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.entityType">Entity Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="entityId">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.entityId">Entity Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="docType">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.docType">Doc Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="filename">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.filename">Filename</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="storageUrl">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.storageUrl">Storage Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mimeType">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.mimeType">Mime Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sizeBytes">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.sizeBytes">Size Bytes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="uploadedByLogin">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.uploadedByLogin">Uploaded By Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceDocument.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/document', document.id, 'view']">{{ document.id }}</a>
          </td>
          <td>{{ document.tenantId }}</td>
          <td jhiTranslate="{{ 'tuniSalesGatewayApp.DocumentEntityType.' + document.entityType }}">{{ document.entityType }}</td>
          <td>{{ document.entityId }}</td>
          <td jhiTranslate="{{ 'tuniSalesGatewayApp.DocumentType.' + document.docType }}">{{ document.docType }}</td>
          <td>{{ document.filename }}</td>
          <td>{{ document.storageUrl }}</td>
          <td>{{ document.mimeType }}</td>
          <td>{{ document.sizeBytes }}</td>
          <td>{{ document.uploadedByLogin }}</td>
          <td>{{ document.createdAt | formatMediumDatetime }}</td>
          <td>{{ document.updatedAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/document', document.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/document', document.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(document)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="documents && documents.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
