<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tenant">
      <h2 data-cy="tenantDetailsHeading"><span jhiTranslate="tuniSalesGatewayApp.platformServiceTenant.detail.title">Tenant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tenant.id }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.platformServiceTenant.name">Name</span></dt>
        <dd>
          <span>{{ tenant.name }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.platformServiceTenant.code">Code</span></dt>
        <dd>
          <span>{{ tenant.code }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.platformServiceTenant.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'tuniSalesGatewayApp.TenantStatus.' + tenant.status }}">{{ tenant.status }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.platformServiceTenant.createdAt">Created At</span></dt>
        <dd>
          <span>{{ tenant.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.platformServiceTenant.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ tenant.updatedAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/tenant', tenant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
