<div *ngIf="!updating && jvmMemoryMetrics">
  <div class="met-mem-item" *ngFor="let entry of jvmMemoryMetrics | keyvalue">
    <div class="met-mem-header">
      <span class="met-mem-name">{{ entry.key }}</span>
      <span class="met-mem-size" *ngIf="entry.value.max !== -1">
        {{ entry.value.used / 1048576 | number: '1.0-0' }}M / {{ entry.value.max / 1048576 | number: '1.0-0' }}M
      </span>
      <span class="met-mem-size" *ngIf="entry.value.max === -1">
        {{ entry.value.used / 1048576 | number: '1.0-0' }}M
      </span>
    </div>
    <div class="met-sub">Commit: {{ entry.value.committed / 1048576 | number: '1.0-0' }}M</div>
    <div class="met-bar" *ngIf="entry.value.max !== -1">
      <div class="met-bar__fill met-bar__fill--blue"
        [style.width.%]="(100 * entry.value.used) / entry.value.max">
        {{ (entry.value.used * 100) / entry.value.max | number: '1.0-0' }}%
      </div>
    </div>
  </div>
</div>
