<div>
  <h2 id="page-heading" data-cy="ClientScoreHeading">
    <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.home.title">ClientScores</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-client-score"
        [routerLink]="['/client-score/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.home.createLabel"> Créer un nouveau Client Score </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientScores?.length === 0">
    <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.home.notFound">Aucun Client Score trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="clientScores && clientScores.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.tenantId">Tenant Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clientId">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.clientId">Client Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clientName">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.clientName">Client Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="period">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.period">Period</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="score">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.score">Score</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="classification">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.classification">Classification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="breakdownJson">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.breakdownJson">Breakdown Json</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="calculatedAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.platformServiceClientScore.calculatedAt">Calculated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientScore of clientScores; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/client-score', clientScore.id, 'view']">{{ clientScore.id }}</a>
          </td>
          <td>{{ clientScore.tenantId }}</td>
          <td>{{ clientScore.clientId }}</td>
          <td>{{ clientScore.clientName }}</td>
          <td>{{ clientScore.period }}</td>
          <td>{{ clientScore.score }}</td>
          <td jhiTranslate="{{ 'tuniSalesGatewayApp.ScoreClassification.' + clientScore.classification }}">
            {{ clientScore.classification }}
          </td>
          <td>{{ clientScore.breakdownJson }}</td>
          <td>{{ clientScore.calculatedAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/client-score', clientScore.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/client-score', clientScore.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(clientScore)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clientScores && clientScores.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
