<ng-container *ngIf="threadStats.threadDumpAll > 0">

  <div class="met-thread-item">
    <div class="met-thread-header">
      <span class="met-thread-label met-thread-label--green">
        <fa-icon icon="play-circle"></fa-icon> Executable
      </span>
      <span class="met-thread-count">{{ threadStats.threadDumpRunnable }}</span>
    </div>
    <div class="met-bar">
      <div class="met-bar__fill met-bar__fill--green"
        [style.width.%]="(threadStats.threadDumpRunnable * 100) / threadStats.threadDumpAll">
        {{ (threadStats.threadDumpRunnable * 100) / threadStats.threadDumpAll | number: '1.0-0' }}%
      </div>
    </div>
  </div>

  <div class="met-thread-item">
    <div class="met-thread-header">
      <span class="met-thread-label met-thread-label--amber">
        <fa-icon icon="clock"></fa-icon> Temps d'attente
      </span>
      <span class="met-thread-count">{{ threadStats.threadDumpTimedWaiting }}</span>
    </div>
    <div class="met-bar">
      <div class="met-bar__fill met-bar__fill--amber"
        [style.width.%]="(threadStats.threadDumpTimedWaiting * 100) / threadStats.threadDumpAll">
        {{ (threadStats.threadDumpTimedWaiting * 100) / threadStats.threadDumpAll | number: '1.0-0' }}%
      </div>
    </div>
  </div>

  <div class="met-thread-item">
    <div class="met-thread-header">
      <span class="met-thread-label met-thread-label--amber">
        <fa-icon icon="stop-circle"></fa-icon> En attente
      </span>
      <span class="met-thread-count">{{ threadStats.threadDumpWaiting }}</span>
    </div>
    <div class="met-bar">
      <div class="met-bar__fill met-bar__fill--amber"
        [style.width.%]="(threadStats.threadDumpWaiting * 100) / threadStats.threadDumpAll">
        {{ (threadStats.threadDumpWaiting * 100) / threadStats.threadDumpAll | number: '1.0-0' }}%
      </div>
    </div>
  </div>

  <div class="met-thread-item">
    <div class="met-thread-header">
      <span class="met-thread-label met-thread-label--red">
        <fa-icon icon="times-circle"></fa-icon> Bloque
      </span>
      <span class="met-thread-count">{{ threadStats.threadDumpBlocked }}</span>
    </div>
    <div class="met-bar">
      <div class="met-bar__fill met-bar__fill--red"
        [style.width.%]="(threadStats.threadDumpBlocked * 100) / threadStats.threadDumpAll">
        {{ (threadStats.threadDumpBlocked * 100) / threadStats.threadDumpAll | number: '1.0-0' }}%
      </div>
    </div>
  </div>

  <div class="met-thread-total">
    <span>Total des threads</span>
    <span>{{ threadStats.threadDumpAll }}</span>
  </div>

</ng-container>

<button class="met-thread-expand" (click)="open()">
  <fa-icon icon="list"></fa-icon>
  Voir tous les threads
</button>
