<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="stockMovement">
      <h2 data-cy="stockMovementDetailsHeading">
        <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.detail.title">Stock Movement</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ stockMovement.id }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.movementType">Movement Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'tuniSalesGatewayApp.MovementType.' + stockMovement.movementType }}">{{
            stockMovement.movementType
          }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.reason">Reason</span></dt>
        <dd>
          <span>{{ stockMovement.reason }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.reference">Reference</span></dt>
        <dd>
          <span>{{ stockMovement.reference }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.quantity">Quantity</span></dt>
        <dd>
          <span>{{ stockMovement.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.performedByLogin">Performed By Login</span></dt>
        <dd>
          <span>{{ stockMovement.performedByLogin }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.createdAt">Created At</span></dt>
        <dd>
          <span>{{ stockMovement.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.fromWarehouse">From Warehouse</span></dt>
        <dd>
          <div *ngIf="stockMovement.fromWarehouse">
            <a [routerLink]="['/warehouse', stockMovement.fromWarehouse.id, 'view']">{{ stockMovement.fromWarehouse.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.toWarehouse">To Warehouse</span></dt>
        <dd>
          <div *ngIf="stockMovement.toWarehouse">
            <a [routerLink]="['/warehouse', stockMovement.toWarehouse.id, 'view']">{{ stockMovement.toWarehouse.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.stockItem">Stock Item</span></dt>
        <dd>
          <div *ngIf="stockMovement.stockItem">
            <a [routerLink]="['/stock-item', stockMovement.stockItem.id, 'view']">{{ stockMovement.stockItem.imei }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/stock-movement', stockMovement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
