<div class="met-card">
  <div class="met-card__header">
    <fa-icon icon="road"></fa-icon>
    Endpoints requests (time in millisecond)
  </div>
  <div class="met-card__body">
    <div class="met-table-wrap" *ngIf="!updating && endpointsRequestsMetrics">
      <table class="met-table" id="endpointsRequestsMetrics" aria-describedby="endpointsRequestsMetrics">
        <thead>
          <tr>
            <th scope="col">Method</th>
            <th scope="col">Endpoint url</th>
            <th scope="col" class="met-table__num">Count</th>
            <th scope="col" class="met-table__num">Mean</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let entry of endpointsRequestsMetrics | keyvalue">
            <tr *ngFor="let method of entry.value | keyvalue">
              <td>{{ method.key }}</td>
              <td>{{ entry.key }}</td>
              <td class="met-table__num">{{ method.value!.count }}</td>
              <td class="met-table__num">{{ method.value!.mean | number: '1.0-3' }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
