<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mission">
      <h2 data-cy="missionDetailsHeading"><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.detail.title">Mission</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mission.id }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.tenantId">Tenant Id</span></dt>
        <dd>
          <span>{{ mission.tenantId }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.assignedToLogin">Assigned To Login</span></dt>
        <dd>
          <span>{{ mission.assignedToLogin }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.title">Title</span></dt>
        <dd>
          <span>{{ mission.title }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.description">Description</span></dt>
        <dd>
          <span>{{ mission.description }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.missionDate">Mission Date</span></dt>
        <dd>
          <span>{{ mission.missionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'tuniSalesGatewayApp.MissionStatus.' + mission.status }}">{{ mission.status }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.createdAt">Created At</span></dt>
        <dd>
          <span>{{ mission.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tuniSalesGatewayApp.businessServiceMission.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ mission.updatedAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/mission', mission.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
