<div>
  <h2 id="page-heading" data-cy="StockMovementHeading">
    <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.home.title">StockMovements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stock-movement"
        [routerLink]="['/stock-movement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.home.createLabel"> Créer un nouveau Stock Movement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="stockMovements?.length === 0">
    <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.home.notFound">Aucun Stock Movement trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="stockMovements && stockMovements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="movementType">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.movementType">Movement Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reason">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.reason">Reason</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reference">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.reference">Reference</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantity">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.quantity">Quantity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="performedByLogin">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.performedByLogin">Performed By Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fromWarehouse.name">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.fromWarehouse">From Warehouse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="toWarehouse.name">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.toWarehouse">To Warehouse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stockItem.imei">
            <div class="d-flex">
              <span jhiTranslate="tuniSalesGatewayApp.inventoryServiceStockMovement.stockItem">Stock Item</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockMovement of stockMovements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/stock-movement', stockMovement.id, 'view']">{{ stockMovement.id }}</a>
          </td>
          <td jhiTranslate="{{ 'tuniSalesGatewayApp.MovementType.' + stockMovement.movementType }}">{{ stockMovement.movementType }}</td>
          <td>{{ stockMovement.reason }}</td>
          <td>{{ stockMovement.reference }}</td>
          <td>{{ stockMovement.quantity }}</td>
          <td>{{ stockMovement.performedByLogin }}</td>
          <td>{{ stockMovement.createdAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="stockMovement.fromWarehouse">
              <a [routerLink]="['/warehouse', stockMovement.fromWarehouse.id, 'view']">{{ stockMovement.fromWarehouse.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="stockMovement.toWarehouse">
              <a [routerLink]="['/warehouse', stockMovement.toWarehouse.id, 'view']">{{ stockMovement.toWarehouse.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="stockMovement.stockItem">
              <a [routerLink]="['/stock-item', stockMovement.stockItem.id, 'view']">{{ stockMovement.stockItem.imei }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/stock-movement', stockMovement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/stock-movement', stockMovement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(stockMovement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="stockMovements && stockMovements.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
