<div class="met-card">
  <div class="met-card__header">
    <fa-icon icon="trash-alt"></fa-icon>
    Garbage collections
  </div>
  <div class="met-card__body" *ngIf="garbageCollectorMetrics">

    <div class="met-grid">
      <div class="met-metric">
        <div class="met-metric__top">
          <span class="met-metric__name">GC Live / Max Data Size</span>
          <span class="met-metric__value">
            {{ garbageCollectorMetrics['jvm.gc.live.data.size'] / 1048576 | number: '1.0-0' }}M /
            {{ garbageCollectorMetrics['jvm.gc.max.data.size'] / 1048576 | number: '1.0-0' }}M
          </span>
        </div>
        <div class="met-bar">
          <div
            class="met-bar__fill"
            [style.width.%]="(100 * garbageCollectorMetrics['jvm.gc.live.data.size']) / garbageCollectorMetrics['jvm.gc.max.data.size']"
          >
            <span class="met-bar__pct">
              {{
                (100 * garbageCollectorMetrics['jvm.gc.live.data.size']) / garbageCollectorMetrics['jvm.gc.max.data.size']
                  | number: '1.0-2'
              }}%
            </span>
          </div>
        </div>
      </div>

      <div class="met-metric">
        <div class="met-metric__top">
          <span class="met-metric__name">GC Memory Promoted / Allocated</span>
          <span class="met-metric__value">
            {{ garbageCollectorMetrics['jvm.gc.memory.promoted'] / 1048576 | number: '1.0-0' }}M /
            {{ garbageCollectorMetrics['jvm.gc.memory.allocated'] / 1048576 | number: '1.0-0' }}M
          </span>
        </div>
        <div class="met-bar">
          <div
            class="met-bar__fill"
            [style.width.%]="
              (100 * garbageCollectorMetrics['jvm.gc.memory.promoted']) / garbageCollectorMetrics['jvm.gc.memory.allocated']
            "
          >
            <span class="met-bar__pct">
              {{
                (100 * garbageCollectorMetrics['jvm.gc.memory.promoted']) / garbageCollectorMetrics['jvm.gc.memory.allocated']
                  | number: '1.0-2'
              }}%
            </span>
          </div>
        </div>
      </div>

      <div class="met-metric">
        <div class="met-row">
          <span class="met-row__label">Classes loaded</span>
          <span class="met-row__value">{{ garbageCollectorMetrics.classesLoaded }}</span>
        </div>
        <div class="met-row">
          <span class="met-row__label">Classes unloaded</span>
          <span class="met-row__value">{{ garbageCollectorMetrics.classesUnloaded }}</span>
        </div>
      </div>
    </div>

    <div class="met-table-wrap" *ngIf="!updating">
      <table class="met-table" id="garbageCollectorMetrics" aria-describedby="garbageCollectorMetrics">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="met-table__num">Total</th>
            <th scope="col" class="met-table__num">Médian</th>
            <th scope="col" class="met-table__num">Min</th>
            <th scope="col" class="met-table__num">p50</th>
            <th scope="col" class="met-table__num">p75</th>
            <th scope="col" class="met-table__num">p95</th>
            <th scope="col" class="met-table__num">p99</th>
            <th scope="col" class="met-table__num">Max</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>jvm.gc.pause</td>
            <td class="met-table__num">{{ garbageCollectorMetrics['jvm.gc.pause'].count }}</td>
            <td class="met-table__num">{{ garbageCollectorMetrics['jvm.gc.pause'].mean | number: '1.0-3' }}</td>
            <td class="met-table__num">{{ garbageCollectorMetrics['jvm.gc.pause']['0.0'] | number: '1.0-3' }}</td>
            <td class="met-table__num">{{ garbageCollectorMetrics['jvm.gc.pause']['0.5'] | number: '1.0-3' }}</td>
            <td class="met-table__num">{{ garbageCollectorMetrics['jvm.gc.pause']['0.75'] | number: '1.0-3' }}</td>
            <td class="met-table__num">{{ garbageCollectorMetrics['jvm.gc.pause']['0.95'] | number: '1.0-3' }}</td>
            <td class="met-table__num">{{ garbageCollectorMetrics['jvm.gc.pause']['0.99'] | number: '1.0-3' }}</td>
            <td class="met-table__num">{{ garbageCollectorMetrics['jvm.gc.pause'].max | number: '1.0-3' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
